# Server Port Configuration
PORT=8080
NODE_ENV=production

# JWT Authentication Secret
JWT_SECRET=pgd-majsperk-breg-super-secret-jwt-key-2026

# Contact Form Recipient Email
CONTACT_EMAIL=info@pgd-majsperk-breg.si
